<h1>Users#index</h1>
<%= link_to "Add new", new_user_path %>
<table>
<tr>
  <th>Full name</th>
  <th>Username</th>
  <th>Action</th>
</tr>
<% @users.each do |user| %>
<tr>
  <td><%= user.firstname %> <%= user.lastname %></td>
  <td><%= user.username %></td>
  <td>
    <%= link_to "Edit", edit_user_path(user) %>
    <%= link_to "Delete", user_path(user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </td>
</tr>
<% end %>
</table>
